<div class="login-container">
  <div class="logo-placeholder">
    <!-- Aquí puedes poner tu logo:  -->
    <img src="assets/logo.jpg" alt="Logo" />
    <mat-icon style="font-size:3rem;">account_circle</mat-icon>
  </div>
  <h1 class="app-title">Plataforma Soft Skills</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Iniciar sesión</h2>
    <div>
      <label for="email">Email:</label>
      <input id="email" type="email" formControlName="email" required />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
        Email inválido
      </div>
    </div>
    <div>
      <label for="password">Contraseña:</label>
      <div class="password-input-container">
        <input id="password" 
               [type]="showPassword ? 'text' : 'password'" 
               formControlName="password" 
               required />
        <button type="button" 
                mat-icon-button 
                (click)="togglePasswordVisibility()"
                class="password-toggle-button">
          <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </div>
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
        Contraseña requerida
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
    <div *ngIf="loginError" class="error">{{ loginError }}</div>
  </form>

  <div *ngIf="jwtPayload" class="jwt-info">
    <h3>Información del usuario (JWT):</h3>
    <pre>{{ jwtPayload | json }}</pre>
  </div>
</div>
