<div class="cursos-grid">
  <h2>Cursos</h2>
  <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="!loading && cursos.length === 0" class="no-cursos">
    No hay cursos asociados al usuario.
  </div>
  <div *ngIf="!loading && cursos.length > 0" class="card-list">
    <mat-card class="curso-card" *ngFor="let curso of cursos" [routerLink]="['/dashboard/cursos', curso.id]" style="cursor:pointer">
      <mat-card-title>{{ curso.shortname }}</mat-card-title>
      <mat-card-content>{{ curso.displayname }}</mat-card-content>
    </mat-card>
  </div>
</div>
