<div class="modal">
    <div class="modal-content">
        <button class="close-button" (click)="closeModal()">×</button>

      <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Paso 1: Curso {{cursoSeleccionado?.nombreVisible}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="cursoSeleccionado">
              <p>Curso seleccionado: {{ cursoSeleccionado.nombreVisible }}</p>
              <!-- Muestra más detalles del curso si es necesario -->
            </div>
            <div *ngIf="!cursoSeleccionado">
              <p>Seleccione un curso:</p>
              <ul>
                <li *ngFor="let curso of cursos$ | async">
                  {{ curso.nombreVisible }}
                  <!-- Añadir lógica para seleccionar un curso -->
                </li>
              </ul>
            </div>
            <mat-action-row>
              <button mat-button (click)="previousStep()" [disabled]="currentStep === 1">Anterior</button>
              <button mat-button (click)="nextStep()">Siguiente</button>
            </mat-action-row>
          </mat-expansion-panel>
  
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Paso 2: Búsqueda por alumno
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- Contenido del paso 2 -->
          Esta es la selección del alumno
          <mat-action-row>
            <button mat-button (click)="previousStep()">Anterior</button>
            <button mat-button (click)="nextStep()">Siguiente</button>
          </mat-action-row>
        </mat-expansion-panel>
  
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Paso 3: Selección de Soft Skill
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- Contenido del paso 3 -->
          Esta es la selección de la soft skill
          <mat-action-row>
            <button mat-button (click)="previousStep()">Anterior</button>
            <button mat-button (click)="nextStep()">Siguiente</button>
          </mat-action-row>
        </mat-expansion-panel>
  
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Paso 4: Valoración positiva/negativa
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- Contenido del paso 4 -->
          Esta es la selección de la valoración
          <mat-action-row>
            <button mat-button (click)="previousStep()">Anterior</button>
            <button mat-button (click)="nextStep()">Siguiente</button>
          </mat-action-row>
        </mat-expansion-panel>
  
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Paso 5: Resumen y Confirmar
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- Contenido del paso 5 -->
          <p>Esta es la selección del resumen y confirmar</p>
          <mat-action-row>
            <button mat-button (click)="previousStep()">Anterior</button>
            <button mat-button (click)="resetWizard()">Reiniciar</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>